<div class="container-fluid">
    <div class="row bg-dark sticky-top" style="height: 10vh">
        <div class="col d-flex align-items-center text-light">
            <fa-icon [icon]="faD" style="font-size: larger;" class="mr-1"></fa-icon>
            Quizwall
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <a class="btn btn-outline-light mr-1" routerLink="/home">Home</a>
            <a class="btn btn-outline-light mr-1" routerLink="/createQuiz">Create Quiz</a>
            <a class="btn btn-outline-light mr-1" routerLink="/home/categories">Categories</a>
            <a class="btn btn-outline-light mr-1" routerLink="/home/aboutQW">
          About QW
            </a>
            <button class="btn btn-outline-warning" (click)="pressLogout()">Logout</button>

        </div>
    </div>
    <div class="row bg-warning" style="height: 115vh;background:url(assets/img/desk.jpg);
    background-repeat:no-repeat;background-position:center;background-size:cover">
        <div class="row justify-content-center" style="width: 100%;">
            <h1 class="text-warning" style="font-family: cursive;">Welcome To Quizwall</h1>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>