<div class="container-fluid">
    <div class="row justify-content-center" style="height: 40vh;">
        <div class="col-12 col-md-6 border mt-4 bg-light">
            <div class="row justify-content-center mt-2">
                <div style="font-family: cursive;font-size:larger">HTML Quiz</div>
            </div>
            <div class="col">
                <div class="row mt-1 ">
                    <div class="col-12 " style="text-align: justify;">
                        <div>
                            <button class="btn btn-warning btn-block" (click)="makeCall()">Check Answers</button>
                        </div>
                        <div class="border border-dark mt-2 " *ngFor="let item of list">
                            <div class="ml-2">{{item.question}}</div>
                            <div class="ml-2 mt-2">{{item.answer}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>