<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 border border-warning bg-dark ">
            <div class="row justify-content-center mt-2">
                <div style="font-family: cursive;font-size:30px;color:brown">
                    <div>About Quizwall</div>

                </div>
            </div>
            <div class="col">
                <div class="row mt-1">
                    <div class="col-12  " style="text-align: justify;font-size:20px;font-family:cursive;color:whitesmoke">
                        Our goal is to deliver most accurate training programs and be a trusted partner for Server & Storage Technology Training Programs in the industry. We provide trainings to corporate as well as individuals. Quizwall has embarked on a mission to provide
                        free quality content (Quizzes) on all branches or Engineering and Sciences.
                    </div>
                    <div class="mt-2" style="text-align: justify;font-family: cursive;font-size:30px;color:brown">
                        <h2>Follow Us On
                            <fa-icon [icon]="faInsta" style="font-size: 30px;color:darkorange" class="mr-2"></fa-icon>
                            <fa-icon [icon]="faTwit" style="font-size: 30px;color:aquamarine" class="mr-2"></fa-icon>
                        </h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>