<div class="container-fluid">

    <div class="row justify-content-center" style="height: 100vh;">
        <div class="col-12 col-md-6 border border-warning bg-light">
            <div class="row justify-content-center mt-2">
                <div style="font-family: cursive;font-size:larger"></div>
            </div>
            <div class="col">
                <div class="card row mt-1" style="height: 30vh;">
                    <div class="col-4 ">
                        <a routerLink="html">
                            <img src="assets/img/html.png" class="p-4" style="height: 100%; width:100%;object-fit:cover;" alt="">
                        </a>

                    </div>
                    <div class="col-4 ">
                        <a routerLink="css">
                            <img src="assets/img/css.png" class="p-4" style="height: 100%; width:100%;object-fit:cover;" alt="">
                        </a>

                    </div>
                    <div class="col-4 ">
                        <a routerLink="js">
                            <img src="assets/img/js.jpg" class="p-4" style="height: 100%; width:100%;object-fit:cover;" alt="">
                        </a>

                    </div>
                </div>
                <div class="card row mt-1" style="height: 30vh;">
                    <div class="col-4 ">
                        <img src="assets/img/nodejs.png" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                    <div class="col-4 ">
                        <img src="assets/img/angular.png" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                    <div class="col-4 ">
                        <img src="assets/img/jq.png" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                </div>
                <div class="card row mt-1" style="height: 30vh;">
                    <div class="col-4 ">
                        <img src="assets/img/xml.jpg" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                    <div class="col-4 ">
                        <img src="assets/img/full.png" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                    <div class="col-4 ">
                        <img src="assets/img/react.png" class="p-4" style="height: 100%; width:100%;object-fit:cover" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>